<mat-card *ngIf="cardData">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{ cardData.name }}</mat-card-title>
    <mat-card-subtitle>Star War Films Member</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <ul class="list-unstyled">
      <li>name : {{ cardData.name }}</li>
      <li>url : {{ cardData.url }}</li>
      <li>height : {{ cardData.height }}</li>
      <li>homeworld : {{ cardData.homeworld }}</li>
    </ul>
  </mat-card-content>
</mat-card>
